@use "/src/scss/" as ext;

.blog-post {
  margin: 2rem 0;
  padding: 1rem;
  background-color: ext.$LIGHT-PRIMARY-COLOR;
  border-radius: 0.57rem;
  &__title {
    font-size: 3rem;
  }
  &__date {
    font-size: 0.75rem;
  }
  &__content {
    margin-top: 2rem;
    > h1 {
      padding: 0.35rem 0;
      font-size: 1.5rem;
      color: ext.$GOLD;
    }
    > h2,
    h3 {
      padding-top: 2rem;
      font-size: 1.25rem;
      color: ext.$GOLD;
    }
    > p {
      font-size: 1.05rem;
      line-height: 2;
      padding: 0.75rem 0;
    }
  }
}

@include ext.breakpoint-for("phone") {
  .blog-post {
    margin: 0;
  }
}
