//-----------Colors-------------

//Oxford-Snow
$OXFORD-BLUE: #0d162b;
$SPACE-CADET: #192a52;
$PAYNE-GRAY: #475569;
$GHOST-WHITE: #eaecf4;

// Blue-Yellow
$ROYAL-BLUE: #00296b;
$MIKADO-YELLOW: #fdc500;
$GOLD: #ffd500;
$POLYNESIAN-BLUE: #003f88;

//Current Color Pallet
$PRIMARY-COLOR: $ROYAL-BLUE;
$SECONDARY-COLOR: $MIKADO-YELLOW;
$FONT-PRIMARY-COLOR: $GHOST-WHITE;
$FONT-SECONDARY-COLOR: $ROYAL-BLUE;
$LIGHT-PRIMARY-COLOR: $POLYNESIAN-BLUE;
